@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root,
[data-theme] {
  background: oklch(var(--b1));
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  margin: 1rem 0;
}

.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}

.border-color {
  border-color: var(--border-color);
}

.bg-surface {
  background-color: var(--surface);
  backdrop-filter: blur(24px);
}

.bg-secondary {
  background-image: linear-gradient(90deg, #203147 0%, #e3066e 100%) !important;
  color: #fff;
}

.bg-secondary:hover,
.hover\:bg-secondary:hover {
  background-image: linear-gradient(90deg, #425b8c 0%, #ff4fa3 100%) !important;
  color: #fff;
}

.border-round-color {
  border-color: var(--round-color);
}

.gradient-border {
  border: 1px solid transparent;
  background:
    linear-gradient(var(--bg-border), var(--bg-border)) padding-box,
    linear-gradient(90deg, var(--gradient-start) 0%, var(--gradient-end) 100%) border-box;
}

.gradient-border-light {
  border: 1px solid transparent;
  background:
    linear-gradient(white, white) padding-box,
    linear-gradient(90deg, var(--gradient-start) 0%, var(--gradient-end) 100%) border-box;
}

.gradient-border-red {
  border: 1px solid transparent;
  background:
    linear-gradient(180deg, #911048 0.23%, rgba(63, 2, 30, 0.46) 99.77%) padding-box,
    linear-gradient(180deg, #e9257b 0%, #4a172e 100%) border-box;
}

.gradient-border-light-hover {
  border: 1px solid transparent;
  background:
    linear-gradient(white, white) padding-box,
    linear-gradient(90deg, var(--gradient-start) 0%, var(--gradient-end) 100%) border-box;
}
.gradient-border-light-hover:hover {
  background:
    linear-gradient(270deg, #e3066e 0%, #203147 108.63%) padding-box,
    linear-gradient(90deg, var(--gradient-start) 0%, var(--gradient-end) 100%) border-box;
}
